{% extends 'account/index.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block form %}
<div class="signin_wthree">
                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="group">
                            <label for="username" class="label">Username</label>
                            <input id="login" type="text" name = "login" class="input" required>
                        </div>
                        <div class="group">
                            <label for="password" class="label">Password</label>
                            <input id="password" type="password" name = "password" class="input" data-type="password" required>
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check">
                                <span class="icon"></span> Keep me Signed in</label>
                        </div>
                        <div class="group">
                            <button class="button" type="submit">{% trans "Sign In" %}</button>
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            {#<h2><a href="{% url 'account_reset_password' %}">Forgot Password?</a></h2> #}
                        </div>
                    </form>
                </div>

{% comment %} <div class="container">
	<div class="jumbotron">
        <div class="row">
        <div class="col-md-4 col-offset-4">
            <h1>{% trans "Sign In" %}</h1>

            {% comment %} {% get_providers as socialaccount_providers %}

            {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

            <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

            </div>

            {% include "socialaccount/snippets/login_extra.html" %}

            {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            {% endif %}

            <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
          {# <a class="button secondaryAction btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
            <button class="primaryAction btn btn-default" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
        </div>
    </div>
</div> {% endcomment %}
{% endblock %}
