{% extends 'student/dashboard/index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  padding : 8px;
  margin: auto;
  text-align: left;
  font-family: arial;
}




button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>


<div class = "container">
<h2 style="text-align:center">Submit Application Details for {{company_details.name}}</h2>

<div class="card">
    <h5>Name: {{student.name}} </h5>
    <h5>Registraion Number:{{student.admissionNumber}} </h5>
    <h5>Roll Number:{{student.rollNumber}} </h5>
    <h5>Branch:{{student.branch}} </h5>
    <h5>CGPA:{{student.CGPA}} </h5>
    <h5>Email:{{student.student_email}} </h5>
    <h5>Resume URL:<a href="{{student.resume_url}}">{{student.resume_url}}</a> </h5>
    {% if company_details.other_fields_url %}
    <h5>Fill this form before submitting: <a href="{{company_details.other_fields_url}}">{{company_details.other_fields_url}}</a> </h5> 
    {%endif%}
    <form action = "applyForCompany" , method = "POST" >
     {% csrf_token %}
    <input type = "text" name ="company" id = "company" value="{{company_details.name}}" hidden ></input>
    <input type = "text" name ="student_id" id = "student_id" value="{{student.user_id}}" hidden></input>
    <h5><button class= "btn">Submit</button></h5>
    </form>
    <!--message block-->
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <h5{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                            </h5>
                        {% endfor %}
                    </ul>
                {% endif %}
                <!--message block-->
    </div>
</div>
{% endblock content %}