{% extends 'authentication/template.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% block content %}

<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
					<a href="{% url 'student:viewNewApplications' %}"><button class ="btn btn-primary btn-lg"> View New Applications </button></a> 
				<a href="{% url 'student:viewStatusOfApplication' %}"><button class ="btn btn-primary btn-lg"> View Status </button></a> 
			</div>
		</div>
	</div>
</div>

{% endblock %}