body,html{
	background: #d5d8ed;
}

.active-head,.list-head
{
	background: #ffffff;
	padding: 5%;
	margin-bottom: 2%;
	display: flex;
	flex-direction: column;
}

.left-pane{
	background: #d5d8ed;
}

.companies{
	text-align: center;
}

.cur-head{
	background:  #5c28a6;/* #2877de;*/
	width: 100%;
	padding: 4% 2% 8% 2%;
	display: flex;
	flex-direction: row;
}

.profile-head{
	background: #f1f1f1;
	float: right;
	border:none;
	border-radius: 1em;
	display: inline-flex;
	padding:1%;
}

.name{
	font-size: 30px;
	color: #5c28a6;
	font-weight: bold;
}

.heading{
	text-align: center;
	color:#5c28a6;
	margin: 2% ;
	text-underline-position: all; 
}
