{% extends 'account/index.html'%}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block form  %}
            <div class="login-form">
                <!-- signin form -->
                <div class="signin_wthree">
                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="user" type="text" class="input" required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password" required>
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check">
                                <span class="icon"></span> Keep me Signed in</label>
                        </div>
                        <div class="group">
                            <button class="button" type="submit">{% trans "Sign In" %}</button>
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <h2><a href="{% url 'account_reset_password' %}">Forgot Password?</a></h2>
                        </div>
                    </form>
                </div>
            </div>
{% endblock form %}

