{% extends 'coordinator/dashboard/index.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
<style>
    .fa-star:hover,
    .fa-check:hover,
    .fa-user:hover {
        color: #3a3a3e7a;
    }
    
    .statis .box {
        box-shadow: 0 8px 6px 2px #00000059;
    }
    
    .welcome1 .content1 {
        background-color: #313348;
        padding: 5px;
        height: 50px;
        margin-top: 25px;
    }
    
    .addeventatc {
        visibility: hidden;
    }
</style>
<div class="card-body">
    <div class="card p-3 mb-5 bg-white rounded" style="min-height: 410px; box-shadow: 0 20px 16px 15px rgba(0, 0, 0, 0.38);">
        {% comment %}
        <div style="display: block; background: #dadada; margin: 0;">
            {% endcomment %}
            <div class="welcome">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content text-center">
                                <h2 class="text-light">
                                    <strong>Welcome to Dashboard</strong>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="main-head">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box" style="display: flex;">
                                <i class="fa fa-envelope fa-fw bg-primary"></i>
                                <div class="info">
                                    <h3>
                                        <a href="{% url 'student:addNewCompany' %}" class="text-light" style="text-decoration: none;">Add New Company</a
                    >
                  </h3>
                  <p>Recently Added Companies</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box" style="display: flex;">
                <i class="fa fa-file fa-fw danger"></i>
                <div class="info">
                  <h3>
                    <a
                      href="{% url 'student:getCompanyStatus' %}"
                      class="text-light"
                      style="text-decoration: none;"
                      >View Company Status</a
                    >
                  </h3>
                  <p>Look for the status of Companies</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box" style="display: flex;">
                <i class="fa fa-mouse-pointer fa-fw bg-success"></i>
                <div class="info">
                  <h3>
                    <a
                      href="{% url 'student:createAnnouncements' %}"
                      class="text-light"
                      style="text-decoration: none;"
                      >Add Announcement</a
                    >
                  </h3>
                  <p>Add announcement to student profile.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="subhead">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div
                  class="card-header content-center"
                  style="background-color: #313348;"
                >
                  <i class="icon text-white my-4 display-4"></i>
                  <h2>
                    Announcement
                  </h2>
                </div>
                <div class="card-body text-dark">
                  {% for annoucement in listOfAnnouncements %}
                  <li>{{annoucement.company.name}} - {{annoucement.text}}</li>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div
                  class="card-header content-center"
                  style="background-color: #313348;"
                >
                  <i class="icon text-white my-4 display-4"></i>
                 <h3>
                    <a
                      href="{% url 'student:viewCompanyDetails' %}"
                      class="text-light"
                      style="text-decoration: none;"
                      >View Company Details</a
                    >
                  </h3>
                  <p>View the Details of the Companies </p>
                </div>
                <div class="card-body text-dark">
                  {% for annoucement in listOfAnnouncements %}
                  <li>{{annoucement.company.name}} - {{annoucement.text}}</li>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% comment %} <div class="col-md-6">
              <div class="card">
                <div
                  class="card-header content-center"
                  style="background-color: #313348;"
                >
                  <i class="icon text-white my-4 display-4"></i>
                  <h2>Reminder</h2>
                </div>
                <div class="card-body text-dark">
                  <li>Last date to apply for XYZ Company.</li>
                  <li>Send Company Application within two days.</li>
                  <li>Lorem ipsum</li>
                  <li>Lorem ipsum</li>
                </div>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
      </section>
      {% comment %} <section class="text-center mt-5">
        <h2>Summary</h2>
      </section>
      <section class="statis text-center">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="box bg-primary">
                <i class="fa fa-star"></i>
                <h3>5</h3>
                <p class="lead">Total Companies Applied</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box success">
                <i class="fa fa-clock"></i>
                <h3>2</h3>
                <p class="lead">Applications Pending</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box danger">
                <i class="fa fa-user"></i>
                <h3>Goldman Sacs</h3>
                <p class="lead">Last Company Visited</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box warning">
                <i class="fa fa-calendar"></i>
                <h3>mm/dd/yyyy</h3>
                <p class="lead">Last Company Visit Date</p>
              </div>
            </div>
          </div>
        </div>
      </section> {% endcomment %}
      {% endblock content %}
    </div>
  </div>
</div>