{% extends 'student/dashboard/index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<style>
.fa-star:hover, .fa-check:hover, .fa-user:hover {
  color: #3a3a3e7a;
}
.statis .box{
  box-shadow: 0 8px 6px 2px #00000059;
}
.welcome1 .content1 {
    background-color: #313348;
    padding: 5px;
    height: 50px;
    margin-top: 25px;
}
</style>
<div class="card-body ">
 <div class="card p-3 mb-5 bg-white rounded" style="min-height: 410px; box-shadow: 0 20px 16px 15px rgba(0, 0, 0, 0.38);">
    {% comment %} <div style="display:block; background : #dadada; margin:0"> {% endcomment %}
      <div class="welcome">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="content text-center">
                <h2 class="text-light"><strong>Welcome to Dashboard, {{student.name}}</strong></h2>
                <!-- Designation/Title -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="main-head">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="box" style="display:flex;">
                <i class="fa fa-file fa-fw danger"></i>
                <div class="info">
                  <h3><a href="{% url 'student:viewStatusOfApplication'%}#" class="text-light" style="text-decoration : none;">View Status</a></h3>
                  <p>Look for the status of your Application(s)</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box" style="display:flex;">
                <i class="fa fa-mouse-pointer fa-fw bg-success"></i>
                <div class="info">
                  <h3><a href="{% url 'student:viewNewApplications'%}" class="text-light" style="text-decoration : none;">Apply For Company</a></h3>
                  <p>A single click away to apply for the Company</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="subhead">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header content-center" style="background-color: #313348;">
                  <i class="icon text-white my-4 display-4"></i>
                  <center><h4>Announcement<span class="badge badge-pill badge-danger ml-2" style="font-size: 10px;">New</span></h4></center>
                </div>
                <div class="card-body text-dark">
                  {% for annoucement in listOfAnnouncements %}
                    <li>
                      <p> {{annoucement.announcementid}}</p>
                      <p> {{annoucement.text}}</p>
                      <p> {{annoucement.company.name}}</p>
                     </li>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="welcome1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="content1 text-center">
                <h2 class="text-light">SUMMARY</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
        <section class='statis text-center'>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="box bg-primary">
                  <i class="fa fa-star"></i>
                  <h3>5</h3>
                  <p class="lead">Companies Applied</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box danger">
                  <i class="fa fa-user"></i>
                  <h3>87%</h3>
                  <p class="lead">Profile Completed</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box success">
                  <i class="fa fa-check"></i>
                  <h3>2</h3>
                  <p class="lead">Applications Accepted</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        </div>
        </div>
        </div>
{% endblock content %}
