{% extends 'student/dashboard/index.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% block content %}
<style>
.page-wrapper .page-content {
    padding-top: 80px;
}
</style>
<div class="profile-card js-profile-card">
          <div class="profile-card__img">
            <img src="{% static 'img/pic1.jpeg' %}" alt="profile card">
          </div>
          <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">{{student.name}}</div>
            <div class="profile-card__txt">
              <p>{{student.branch.course}} in <strong>{{student.branch}}</strong></p>
              <p>National Institute of Technology</p>
            </div>
            <div class="profile-card-loc">
              <span class="profile-card-loc__txt">
                Telangana, India
              </span>
            </div>

            <div class="profile-card-inf">
              <div class="profile-card-inf__item">
                <div class="profile-card-inf__title">Registration Number</div>
                <div class="profile-card-inf__txt">{{student.admissionNumber}}</div>
              </div>

              <div class="profile-card-inf__item">
                <div class="profile-card-inf__title">Email</div>
                <div class="profile-card-inf__txt">{{student.user.email}}</div>
              </div>

              <div class="profile-card-inf__item">
                <div class="profile-card-inf__title">Contact Number</div>
                <div class="profile-card-inf__txt">{{student.mobileNumber}}</div>
              </div>

              <div class="profile-card-inf__item">
                <div class="profile-card-inf__title">Address</div>
                <div class="profile-card-inf__txt">{{student.address}}</div>
              </div>

              <div class="profile-card-inf__item">
                <div class="profile-card-inf__title">Resume Uploaded :
                {% if resumeUploaded == False %}
                    <i class="fa fa-times text-danger"></i></div> <a href = "{% url 'student:uploadResume'%}"> upload </a>
                {% elif resumeUploaded == True %} 
                    <i class="fa fa-check text-success"></i></div> <a href = "{% url 'student:uploadResume'%}"> upload new </a>
                {% endif %}
                <div class="profile-card-inf__txt"></div> 
              </div>
              
            </div>
          </div>
        </div>
{% endblock content %}