{% extends 'authentication/template.html' %} {% block content %} {% load crispy_forms_tags %}



<div class="container">
    <div class="jumbotron">
        <div class="header">
            <h2> <u> {{ title }} </u></h2>
        </div>
        <br>
        <div class="content-section">
            <form method="POST">
                {% csrf_token %} {{ form|crispy }}
                

                <!--message block-->
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <!--message block-->
                <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"

                    onClick="toggle(this)"
                />
                <label class="form-check-label" for="cse">
                    Select All Branches and Courses </label
                >
                </br>
                <label class="form-check-label" >
                    ---------------------------------- OR ---------------------------------- </label
                >
                </br>
            </div>

                <div  id="newRow"></div>

                                                
                <button id="addRow" type="button" class="btn btn-primary  btn-lg btn-block">Add Branch & Courses</button><br>
                <br>
                <div class=" submit ">
                    <button type="submit " class="btn btn-info submit"> Submit </button>
                </div>

                
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script type="text/javascript">
                    // add row
                    function toggle(source){
                        branch='cse,ece,civil,mech,meta,chem,eee,bio,mtech-cse-csis,mtech-cse-cse,c_est,c_wre,c_rsg,c_ctm,c_te,c_gte,c_ese,mtech-eee-pse,mtech-eee-ped,mtech-mech-te,mtech-mech-cim,mtech-mech-ae,mtech-mech-msed,mtech-mech-me,mtech-mech-md,mtech-mech-am,mtech-ece-ei,mtech-ece-acm,mtech-ece-vlsi,mtech-mme-im,mtech-mme-mt,mtech-che-ce,mtech-che-pc,mba-operations,mba-marketing,mba-hr,mba-finance,msct-p,msct-e,msct-i,mscm-am,mscm-msc,mscc-oc,mscc-mmc,phd-ce,phd-me,phd-ee,phd-ece,phd-mme,phd-cse,phd-bt,phd-maths,phd-phy,phd-che,phd-hss,phd-som,';
                        
                    }
                    $("#addRow").click(function () {
                        var html = '';
                        var options = '{{options_html | safe}}'
                        console.log(options)
                        html += '<div class="row" id="inputFormRow"><div class="col-md-10"><div class="col-sm-2"><select  name="branches" class="form-control branch" ><option value="">Select Branch</option>'+options+'</select></div>';
                        
                        html += '<i class="fas fa-minus-circle" id="removeRow"></i>';
                        html += '</div>';

                        $('#newRow').append(html);
                    });

                    // remove row
                    $(document).on('click', '#removeRow', function () {
                        $(this).closest('#inputFormRow').remove();
                    });

                $(".submit").click(function(event){
                    event.preventDefault()
                    list_branches =  $(".branch")
                    for (var i=0; i < list_branches.length ; i++){
                        if(i!=0)
                        branch += ","+ list_branches[i].value 
                        else
                        branch +=  list_branches[i].value
                    }
                    console.log(branch) 

                    $("#id_branchesAllowed").val(branch) 
                    $("form").submit()                  
                })

                
                </script>


            </form>


        </div>
    </div>

   
</div>
{% endblock %}