{% extends 'authentication/template.html' %}
{% block content %}

<div class="container">
		<div class="jumbotron">
			<h1>T & P Coordinators</h1>
		<div class = "row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1-1/128/gender-male2-512.png">
					<div class="middle">
    					<div class="text">Coordinater Name</div>
    					<div class="text">phone no</div>
    					<div class="text">branch</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1-1/128/gender-male2-512.png">
					<div class="middle">
    					<div class="text">Coordinater Name</div>
    					<div class="text">phone no</div>
    					<div class="text">branch</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1-1/128/gender-male2-512.png">
					<div class="middle">
    					<div class="text">Coordinater Name</div>
    					<div class="text">phone no</div>
    					<div class="text">branch</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1-1/128/gender-male2-512.png">
					<div class="middle">
    					<div class="text">Coordinater Name</div>
    					<div class="text">phone no</div>
    					<div class="text">branch</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1-1/128/gender-male2-512.png">
					<div class="middle">
    					<div class="text">Coordinater Name</div>
    					<div class="text">phone no</div>
    					<div class="text">branch</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1-1/128/gender-male2-512.png">
					<div class="middle">
    					<div class="text">Coordinater Name</div>
    					<div class="text">phone no</div>
    					<div class="text">branch</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1-1/128/gender-male2-512.png">
					<div class="middle">
    					<div class="text">Coordinater Name</div>
    					<div class="text">phone no</div>
    					<div class="text">branch</div>
 					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1-1/128/gender-male2-512.png">
					<div class="middle">
    					<div class="text">Coordinater Name</div>
    					<div class="text">phone no</div>
    					<div class="text">branch</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1-1/128/gender-male2-512.png">
					<div class="middle">
    					<div class="text">Coordinater Name</div>
    					<div class="text">phone no</div>
    					<div class="text">branch</div>
 					</div>
				</div>
			</div>
		</div>
		
			
	</div>

{% endblock %}