{% extends 'authentication/template.html' %} {% block content %} {% load crispy_forms_tags %}



<div class="container">
    <div class="jumbotron">
        <div class="header">
            <h2> <u> {{ title }} </u></h2>
        </div>
        <br>
        <div class="content-section">
            <form method="POST">
                {% csrf_token %} {{ form|crispy }}
                <div class=" submit ">
                    <button type="submit " class="btn btn-info "> Submit </button>
                </div>

                <!--message block-->
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <!--message block-->

            </form>
        </div>
    </div>
</div>
<script>
    if ({{alert}} == 'True'){
        alert("asfasgf");
    } 
</script>
{% endblock %}