{% extends 'company/src/index.html' %}
{% load crispy_forms_tags %}
{% load static %}
	{% block content %}
		
		<style>
			.card {
				margin: 1.5rem 0;
			}
		</style>
		<script>
			shortlisted = []
			function viewResume(){
				document.getElementById("form").submit()
			}
			function shortlist(admissionNumber){
				shortlisted.push(admissionNumber)
				document.getElementById(admissionNumber).disabled = true
			}
		</script>
			<div class="container">
				<div class="row">
					<div class="col mb-12">
						<div class="card">
							<form method = "post" id = "form">
							{% csrf_token %}
							<input type = "text" name = "shortlists" value = "NULL" hidden>
							<table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">View Resume</th>
                                    <th scope="col">Shortlist</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for applicant  in  listOfApplicants %}
											<tr>
												<td>{{applicant.student.name}}</td>
												<input type = "text" value = "{{applicant.student.rollNumber}}" name = "resume" hidden>
												<td><button type="button" onclick = "viewResume()" class="btn btn-primary">View Resume</button></td>
												<td><button type="button" onclick = "shortlist({{applicant.student.rollNumber}})" class="btn btn-success" id = "{{applicant.student.rollNumber}}" >Shortlist</button></td>
											</tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
							</div>
                            <button type="button" class="btn btn-success">Shortlist All</button>
							<button type="button" class="btn btn-success">Submit Shortlist</button>
							</form>
						</div>
                        
					</div>

				</div>
			</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
			integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
			crossorigin="anonymous"
		></script>

	{% endblock  %}
	
