{% extends 'authentication/template.html' %}
{% block content %}

<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
					<a href="{% url 'coordinator:addNewCompany' %}"><button class ="btn btn-primary btn-lg"> Add New Company </button></a> 
                    <a href="{% url 'coordinator:updateCompanyStatus' %}"><button class ="btn btn-primary btn-lg"> Update Company </button></a> 
                    <a href="{% url 'coordinator:getCompanyStatus' %}"><button class ="btn btn-primary btn-lg"> View Company Status </button></a> 
                    <a href="{% url 'coordinator:sendCompanyDetails' %}"><button class ="btn btn-primary btn-lg"> Send Company Details </button></a> 
				
			</div>
		</div>
	</div>
</div>

{% endblock %}