{% extends 'authentication/template.html' %}
{% block content %}
<style>
table, th, td {
  border: 1px solid black;
  padding: 5px;
  
}
table {
    margin : 75px 0px;
  border-spacing: 15px;
  width:100%;
}
h4 {
    margin : 75px 0px;
}
</style>
<div class = "container text-align-center">

<table id ="companies"class = "table">
<caption><center><h4>Company Details</center></h4></caption>

    <thead class = "thead-dark">
    <tr >
        <th> Name </th>
        <th> Website Link </th>
        <th>HR Details</th>
        <th> Address </th>
        <th> Email- ID </th>
        <th> Phone Number </th>
        <th> Mobile Number </th>
        <th> Sector </th>
        <th> Category </th>
        <th>Job Designation</th>
        <th> Job Type </th>
        <th> Job Location </th>
        <th> Tentative DOJ </th>
        <th> Round Details </th>
        <th> Number Of Rounds </th>
        <th> Other Info  </th>
        <th> Salary Details - Btech  </th>
        <th> Salary Details - Mtech </th>
        <th> Salary Details - Other PG </th>
        <th> Salary Details - PHD </th>
        <th> Minimum Offers </th>
        <th> Training Period </th>
        <th> Stipulated Bond  </th>
        <th> Stipend Details - Btech  </th>
        <th> Stipend Details - Mtech </th>
        <th> Stipend Details - Other PG </th>
        <th> Duration UG </th>
        <th> Duration PG </th>


    </tr>
    </thead>
    {% for companies in dict %}
    </tr>
       
        <td> {{companies.name}} </td>
        <td> {{companies.websiteLink}}</td>
        <td>{{companies.hrDetails}}</td>
        <td> {{companies.address}}</td>
        <td> {{companies.emailId}} </td>
        <td> {{companies.phoneNumber}}</td>
        <td> {{companies.mobileNumber}}</td>
        <td> {{companies.sector}} </td>
        <td> {{companies.category}} </td>
        <td>{{companies.jobDesignation}}</td>
        <td> {{companies.jobType}} </td>
        <td> {{companies.workLocation}} </td>
        <td> {{companies.tentativeDOJ}} </td>
        <td> {{companies.roundsDetails}} </td>
        <td> {{companies.numberOfRounds}} </td>
        <td> {{companies.otherInfo}}  </td>
        <td> {{companies.salaryDetails_btech}}  </td>
        <td> {{companies.salaryDetails_mtech}} </td>
        <td> {{companies.salaryDetails_otherPG}} </td>
        <td> {{companies.salaryDetails_PhD}} </td>
        <td> {{companies.minOffers}} </td>
        <td> {{companies.trainingPeriod}} </td>
        <td> {{companies.stipulatedBond}}  </td>
        <td> {{companies.stipendDetails_Btech}}  </td>
        <td> {{companies.stipendDetails_Mtech}} </td>
        <td> {{companies.stipendDetails_OtherPG}} </td>
        <td> {{companies.duration_UG}} </td>
        <td> {{companies.duration_PG}} </td>
    </tr>
    {% endfor %}
</table>
<a href="#" onclick="download_table_as_csv('companies');">Download as CSV</a>
</div>

<script>
    // Quick and simple export target #table_id into a csv
function download_table_as_csv(table_id, separator = ',') {
    // Select rows from table_id
    var rows = document.querySelectorAll('table#' + table_id + ' tr');
    // Construct csv
    var csv = [];
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll('td, th');
        for (var j = 0; j < cols.length; j++) {
            // Clean innertext to remove multiple spaces and jumpline (break csv)
            var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
            // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
            data = data.replace(/"/g, '""');
            // Push escaped string
            row.push('"' + data + '"');
        }
        csv.push(row.join(separator));
    }
    var csv_string = csv.join('\n');
    // Download it
    var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
    var link = document.createElement('a');
    link.style.display = 'none';
    link.setAttribute('target', '_blank');
    link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
    link.setAttribute('download', filename);
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}
</script>
{% endblock content %}