html{
	height: 100%;
}
body{
	background: url(https://www.nitw.ac.in/media/uploads/2016/04/14/innovation.JPG) no-repeat center center fixed;
	
	background-size: cover;
	background-position: center ;
	font-family: Lato;
	-webkit-background-size: cover;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}



#content{
	font-color: black;
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	color: white;
}

h1{
	font-weight: 700;
	font-size: 5em;
}
hr{
	width: 400px;
	border-top: 1 px solid #f8f8f8;
	border-bottom: 1 px solid rgba(0,0,0,0.2);
}
.jumbotron{
	margin-top: 5%;
	background-color: rgba(238,238,238,.6); 
	width: 60%;
	font-size: 18px;
}
#about_h{
	font-size: 36px;
}

.image{
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.thumbnail {
    position: relative;
    width: 75%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.thumbnail:hover .image {
  opacity: 0.3;
}

.thumbnail:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 10px;
  padding: 1px 2px;
}
.container{
	width: 600px !important;
}
